/* You can add global styles to this file, and also import other style files */
html {
    padding: 0px;
    margin: 0px;
    background-color: #BDBF09;
}

app-root {
    height: 100vh;
    width: 100vw;
}